:root {
  --color-text: #2c3e50;
  --color-text-light: #34495e;
  --color-white: #ecf0f1;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  cursor: pointer;
  position: absolute;
  color: var(--color-white);
  font-size: 3rem;
  transform: translateY(-50%);
  top: 50%;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.carousel {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel_slider {
  width: 100%;
  height: 87%;
  overflow: hidden;
  position: relative;
}

.content_inner_slider {
  width: 100%;
  height: 100%;
  display: flex;
}

.img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
}

.prev_button {
  left: 0;
}

.next_button {
  right: 0;
}

.dots {
  display: flex;
  margin: 1rem 0;
}

.dot {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-text-light);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.form {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.auto_slide {
}
