/* Common Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn", serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
  }

  html {
    font-size: 62.5%;
  }

  :root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --grey-color: #555;
    --light-grey-color: #777;
    --black-colour: rgb(0, 0, 0);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    background-color: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color);
    overflow: hidden;
  }

  /* --------------------------- */

  /* Team page */
  .background-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .background-image {
    width: 100vw;
    height: 100vh;
  }


  .team {
    position: relative;
    padding: 5rem 0 10rem 0;
    z-index: 2;
  }

  .team-heading {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--white-color);
    z-index: 2;
    animation-name: Team_Heading;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* ----------ANIMATION------------- */
}
  .team-heading:hover {
    animation-name: Team_Heading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }


  .cards-wrapper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;

  }
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }


  .card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
  }

  .card-image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .card-image:hover {
    animation-name: Hover_Over_Image;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

  }

  .front-side {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 1rem;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  }

  .change > .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    z-index: 0;
  }

  .tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: var(--white-color);
    text-shadow: 0 0 1rem #000;
  }

  .card-list {
    width: 80%;
    margin: auto;
    padding: 2rem 0 3rem 0;
  }

  .card-list-item {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 0.5rem 0;
  }

  .card-list-item:hover {
    animation-name: Hover_Over_Text;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }


  .card-list-item-desc {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-grey-color);
    margin: 0.5rem 0;
  }

  .card-list-item-desc:hover {
    animation-name: Hover_Over_Text;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .back-side {
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem #777;
    flex-direction: column;
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  }

  .change > .back-side {
    transform: translateZ(0) translateX(0);
    box-shadow: 0 0.5rem 2rem #aaa;
    opacity: 0.9;
  }

  .description {
    font-size: 2rem;
    font-weight: 300;
    color: var(--white-color);
  }

  .card-button {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    border-radius: 5rem;
    cursor: pointer;
  }

  .navigation-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--light-grey-color);
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }

  .navigation-button:hover {
    animation-name: Hover_Over_Nav_Button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  /* End of Team page */

  /* ----------------------KEYFRAMES------------------ */

  /* @keyframes Team_Heading {
    0%   {text-shadow: 0.1rem 0.1rem 0.5rem var(--white-color);}
    50%  {text-shadow: 0.3rem 0.3rem 1rem var(--white-color);}
    100% {text-shadow: 0.1rem 0.1rem 0.5rem var(--white-color);}
  } */

  @keyframes Team_Heading {
    0%   {text-shadow: 0rem 0rem 0rem var(--white-color);}
    50%  {text-shadow: 0rem 0rem 1rem var(--white-color);}
    100% {text-shadow: 0rem 0rem 0rem var(--white-color);}
  }

  @keyframes Hover_Over_Text {
    0%   {color: var(--light-grey-color);}
    100% {color: var(--black-colour);}
  }

  @keyframes Hover_Over_Nav_Button {
    0%   {color: var(--light-grey-color);
        background-color: rgba(255, 255, 255, 0.8);}
    100% {color: var(--black-colour);
        background-color: rgba(184, 170, 170, 0.8);}
  }

  @keyframes Hover_Over_Image {
    0%   {opacity: 1;}
    100% {opacity: 0.9;}
  } 
