
* {
z-index:2;
}
/* Bottle Style*/
.bottle-path {
    position: absolute;
    display: block;
    /*left: 50%;*/
    height: 300vw;
    overflow: visible;
    /* transform: translate(-50%); */
    z-index: -2;
}

.bottle-path1 {
    position: absolute;
    display: block;
    right: 0px;
    height: 300vw;
    overflow: visible;
    /* transform: translate(-50%); */
    z-index: -2;
}

@font-face {
  font-family: bottleFont;
  src: url("../../static/style/bottlefont.ttf");
}

.bottle-txt {
  font-family: bottleFont;
  font-size: 4vw;
  fill: #bae893;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
 .fadeInObs {
     opacity: 0;
     transition: all 1s ease-in;
     transition-delay: 0.25s;
 }
 .leftSlideObs {
     opacity: 0;
     transform: translateX(-20%);
     transition: all .75s ease-in;
 }
 .rightSlideObs {
     opacity: 0;
     transform: translateX(+20%);
     transition: all .75s ease-in;
 }
 .topSlideObs {
     opacity: 0;
     transform: translateY(-20%);
     transition: all .75s ease-in;
 }
 .bottomSlideObs {
     opacity: 0;
     transform: translateY(+20%);
     transition: all .75s ease-in;
 }
 .animateObs {
     opacity: 1;
     transform: translateX(0%) translateY(0%);
 }
 .delay1 {
     transition-delay: 0.125s;
 }
 .delay15 {
     transition-delay: .25s;
 }
 .delay2 {
     transition-delay: .5s;
 }
 .delay3 {
     transition-delay: .75s;
 }
 .delay4 {
     transition-delay: 1s;
 }
