.skills{
  float: left;
  position: relative;
}
.flex{
  display: flex;
}
.title-head{
  padding: 0;
}
.title-pic{
  width: 100%;
  height: 600px;
  padding: 0 0;
}
.head{
  text-align: center;
  padding: 30px 30px;
}


html.modal-active, body.modal-active {
  overflow: hidden;
}

#mod-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#mod-container.six {
  transform: scale(1);
}
#mod-container.six .mod-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six .mod-background .mod {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six .mod-background .mod h2, #mod-container.six .mod-background .mod p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six .mod-background .mod .mod-svg rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#mod-container.six.out .mod-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six.out .mod-background .mod {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six.out .mod-background .mod h2, #mod-container.six.out .mod-background .mod p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container.six.out .mod-background .mod .mod-svg rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#mod-container .mod-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#mod-container .mod-background .mod {
  background: white;
  padding: 50px;
  width: 80rem;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#mod-container .mod-background .mod h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#mod-container .mod-background .mod p {
  font-size: 18px;
  line-height: 22px;
}
#mod-container .mod-background .mod .mod-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#mod-container .mod-background .mod .mod-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.button:hover {
  cursor:pointer;
}
@media (max-width: 1028px) {
  #mod-container .mod-background .mod{
    width: 50%;
  }

}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}
.promega{
  height: 200px;
  width: 200px;
  margin: 0 15px;
}
.beck{
  height: 120px;
  width: 220px;
  margin-left: 25px;
}
