
.container-text{
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.card-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  background: #f9f7f7;
  margin-bottom: 2rem;
  border-radius: 25px;
}

.card-text h3 {
  margin-bottom: 2rem;
}

.card-text img {
  height: 400px;
}

.card-text > div {
  padding: 2rem;
}

.card-text:nth-child(odd) img {
  order: 3;
}
